---
import Layout from '@layouts/Layout.astro';
import Card from '@components/home/Card.astro';
import { solutions } from '../data/solutions.json'
---

<Layout>
	<main>
		<section>
			<div class="container">
				<h1>Frontendmentor Solutions</h1>
				<p>
					Collection of solutions to Frontendmentor challenges.
				</p>
				<ul class="list-wrapper">
					{solutions.map((solution: any) => (
						<Card {...solution} />
					))}
				</ul>
			</div>
		</section>
	</main>
</Layout>

<style>
	@import url(https://fonts.bunny.net/css?family=azeret-mono:400,400i,700,800);

	main {
		font-family: 'Azeret Mono', monospace;
	}
	
	section {
		padding: 2rem 0.5rem;
	}

	.container {
		max-width: 60rem;
		margin: 0 auto;

		h1,p {
			text-align: center;
		}
	}

	.list-wrapper {
		margin-top: 4rem;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
